@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 1rem 2rem;
}

.navbar img {
  margin: 0;
  padding: 0;
  width: 7rem;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #888;
  font-size: 20px;
}

.nav-links li a:hover,
.nav-links li a:active,
.nav-links li a.active {
  color: #555;
  border-bottom: 3px #555 solid;
}

.form {
  margin: 0 auto;
  width: 30rem;
  font-size: 20px;
  color: #555;
}

.form input {
  margin-top: 0.5rem;
  font-size: 18px;
}

.main {
  margin: 2rem;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  color: #555;
  text-transform: uppercase;
}

.todo-list {
  width: 45rem;
  margin: 4rem auto;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.todo-item {
  padding: 0.5rem 1rem;
  display: flex;
  border-bottom: 1px #ddd solid;
  align-items: center;
  justify-content: space-between;
}

.todo-item img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.todo-title {
  font-size: 16px;
}

.todo-title.completed {
  text-decoration: line-through;
}

.user-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.user-item {
  margin: 1rem;
  padding: 2rem;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}
